<section id="about-me">
  <div class="max-width">
    <div class="left-container">
      <h1>About me</h1>
      <p>
        Hi, I am a Front-end developer based in Altenkirchen and I´m 29 years
        old. I gained my experience through training at the TÜV-certified
        Developer Akademie GmbH.
      </p>
      <div class="img-text">
        <div class="icon">
          <img src="./assets/img/lamp-icon.png" alt="" />
        </div>
        <p>
          I really enjoy finding creative and effective solutions for designing
          digital experiences. The diversity and dynamism of programming
          inspires me every day.
        </p>
      </div>
      <div class="img-text">
        <div class="icon">
          <img src="./assets/img/puzzle-icon.png" alt="" />
        </div>
        <p>
          I am disciplined and have a logical understanding that helps me deal
          with even more complex problems. Feel free to check out my projects to
          get an idea of ​​what I've been working on.
        </p>
      </div>
    </div>
    <div class="right-container">
      <img src="./assets/img/profil2.png" alt="" />
      <div class="line"></div>
    </div>
  </div>
</section>

