<section id="about-me">
  <div class="left-container">
    <h1>About me</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel temporibus
      quia quod odit asperiores, tenetur deleniti, earum unde doloribus, ullam
      id maiores incidunt amet. Amet facilis, recusandae aspernatur, doloribus
      quaerat incidunt temporibus vitae assumenda fuga est officia voluptatibus?
    </p>
    <div class="img-text">
      <div class="icon">
        <img src="./assets/img/lamp-icon.png" alt="" />
      </div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis
        odio, aliquid excepturi nobis praesentium necessitatibus repudiandae
        totam fugiat, pariatur magnam maxime voluptatem quisquam!
      </p>
    </div>
    <div class="img-text">
      <div class="icon">
        <img src="./assets/img/puzzle-icon.png" alt="" />
      </div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis
        odio, aliquid excepturi nobis praesentium necessitatibus repudiandae
        totam fugiat, pariatur magnam maxime voluptatem quisquam!
      </p>
    </div>
  </div>
  <div class="right-container">
    <img src="./assets/img/profil2.png" alt="">
    <div class="line"></div>
  </div>
</section>
