<section id="about-me">
  <div class="max-width">
    <div class="left-container">
      <h1>{{ 'ABOUTH1' | translate }}</h1>
      <p>{{ 'TEXT1' | translate }}</p>
      <div class="img-text">
        <div class="icon">
          <img src="./assets/img/lamp-icon.png" alt="" />
        </div>
        <p>{{ 'TEXT2' | translate }}</p>
      </div>
      <div class="img-text">
        <div class="icon">
          <img src="./assets/img/puzzle-icon.png" alt="" />
        </div>
        <p>{{ 'TEXT3' | translate }}</p>
      </div>
    </div>
    <div class="right-container">
      <img src="./assets/img/profil2.png" alt="" />
      <div class="line"></div>
    </div>
  </div>
</section>

