* {
    overflow-x: hidden;
}

#about-me {
    padding-top: 90px;
    width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    justify-content: center;
    position: relative;
}

.max-width {
    max-width: 1920px;
    display: flex;
    width: 100%;
}

.left-container {
    z-index: 130;
    width: 50%;
    padding: 80px;
    color: white;
    display: flex;
    flex-direction: column;

    > .img-text {
        display: flex;
        align-items: center;
        justify-content: center;

        > .icon {
            display: flex;
            justify-content: flex-end;
            margin-right: 48px;
            > img {
                width: 50px;
            }
        }
    }
}

.right-container {
    z-index: 200;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > img {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: solid rgb(4, 190, 232) 3px;
        object-fit: cover;
    }

    > .line {
        width: 30%;
        height: 3px;
        background-color: rgb(4, 190, 232);
    }
}

.shadow {
    width: 808px;
    position: absolute;
    right: 0;
    top: 70vh;
    z-index: 100;
}

h1 {
    margin: 0;
    color: white;
    font-size: 90px;
    z-index: 30;
}

@media (max-width: 2500px) {
    .shadow {
        right: 2%;
        bottom: -140px;
    }
}

@media (max-width: 2000px) {
    .shadow {
        width: 600px;
        top: 80vh;
    }
}

@media (max-width: 1250px) {
    h1 {
        font-size: 72px;
    }
}

@media (max-width: 1100px) {
    h1 {
        font-size: 64px;
    }

    .right-container {
        > .line {
            width: 20% !important;
        }
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 48px;
    }

    .left-container {
        padding: 40px;
        > .img-text {
            > .icon {
                margin-right: 16px !important;
                > img {
                    width: 40px !important;
                }
            }
        }
    }

    .right-container {
        > .line {
            width: 15% !important;
        }

        > img {
            width: 320px !important;
            height: 320px !important;
        }
    }
}

@media (max-width: 900px) {
    .right-container {
        > .line {
            width: 10% !important;
        }

        > img {
            width: 240px !important;
            height: 240px !important;
        }
    }
}
@media (max-width: 750px) {
    .right-container {
        display: none;
    }

    .left-container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .left-container {
        padding: 16px;
    }

    .shadow {
        width: 800px;
        right: -400px;
        bottom: 0px;
    }
}
