


#about-me {
    padding-top: 90px;
    width: 100%;
    min-height: calc(100vh - 90px);
    background-color: rgb(20, 29, 47);
    display: flex;
    position: relative;
}

.left-container {
    width: 40%;
    padding: 80px;
    color: white;
    display: flex;
    flex-direction: column;

    > .img-text {
        display: flex;
        align-items: center;
        justify-content: center;
        
        > .icon {
            display: flex;
            justify-content: flex-end;
            margin-right: 48px;
            > img {
                width: 50px;
            }
        }
    }
}

.right-container {
    z-index: 1;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > img {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: solid rgb(4,190,232) 3px;
        object-fit: cover;
    }

    > .line {
        width: 30%;
        height: 3px;
        background-color: rgb(4,190,232);
    }
}

.shadow {
    position: absolute;
    right: -280px;
    top: -15%;
    z-index: 5;
}

h1{
    margin: 0;
    color: white;
    font-size: 90px;
}