<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <input
    [(ngModel)]="contactData.name"
    type="text"
    id="name"
    class="input-style"
    name="name"
    placeholder="Your name"
    required
  />
  <input
    [(ngModel)]="contactData.email"
    type="email"
    id="email"
    class="input-style"
    name="email"
    placeholder="Your email"
    required
    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
  />
  <textarea
    #message="ngModel"
    minlength="4"
    [(ngModel)]="contactData.message"
    type="text"
    id="message"
    class="input-style"
    name="message"
    placeholder="Your message"
    required
  ></textarea>
  @if (!message.valid && message.touched) {
    <span>Please enter a message</span>
  }
  @if (mailSend) {
    <span>Mail send</span>
  }

  <input class="button" type="submit" value="Send message" />
</form>
