form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;

    .input-style {
        width: 450px;
        height: 32px;
        color: white;
        padding-left: 16px;
        background-color: transparent;
        border: solid 1px #4b47ff;
        border-radius: 8px;
        font-family: poppins, sans-serif;

        &.error-border {
            border-color: red;
        }
    }

    textarea {
        padding-top: 16px;
        min-height: 160px;
    }

    .input-style::placeholder {
        color: white;
    }

    .input-style:hover {
        border: solid 1px rgb(4, 190, 232);
    }

    .input-style:focus {
        border: solid 1px rgb(4, 190, 232);
        outline: none;
    }

    .button-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 40px;
        margin-top: 24px;
    }

    .button {
        width: 180px;
        height: 40px;
        color: white;
        font-size: 16px;
        font-family: poppins, sans-serif;
        background-color: rgb(4, 190, 232);
        border: none;
        border-radius: 8px;
        transition: transform 0.3s ease;

        &:disabled {
            background-color: grey;
            cursor: not-allowed;
        }
    }

    .button:hover:enabled {
        cursor: pointer;
        background-color: #4b47ff;
        transform: scale(1.3);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: rgba(255, 255, 255, 0);
    }

    span {
        color: red;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;

        > input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: #4b47ff solid 2px;
            width: 20px;
            height: 20px;
            border-radius: 4px;
        }

        > input:checked {
            background-color: #4b47ff;
        }

        > label {
            > a {
                color: white;
            }
        }
    }

    .checkbox-error {
        color: red !important;
    }
}

.error-border {
    border: solid 1px red;
}

.button-div {
    z-index: 999;
}

@media (max-width: 1000px) {
    .input-style {
        width: 300px !important;
    }
}
