<section>
  <div class="max-width">
    <h1>{{ "privacy" | translate }}</h1>
    <p>Stand: 22. Juni 2024</p>
    <h2>{{ "content" | translate }}</h2>
    <ul class="index">
      <li>
        <a class="index-link" href="#m3">{{ "response" | translate }}</a>
      </li>
      <li>
        <a class="index-link" href="#mOverview">{{
          "processing" | translate
        }}</a>
      </li>
      <li>
        <a class="index-link" href="#m2427">{{ "legalBases" | translate }}</a>
      </li>
      <li>
        <a class="index-link" href="#m12">{{ "dataStorageH2" | translate }}</a>
      </li>
      <li>
        <a class="index-link" href="#m10">{{ "dataRights" | translate }}</a>
      </li>
      <li>
        <a class="index-link" href="#m225">{{ "webhosting" | translate }}</a>
      </li>
      <li>
        <a class="index-link" href="#m134">{{ "cookiesUse" | translate }}</a>
      </li>
      <li>
        <a class="index-link" href="#m182">{{
          "contactManagement" | translate
        }}</a>
      </li>
    </ul>
    <h2 id="m3">{{ "response" | translate }}</h2>
    <p>Tobias Wall<br />Wiedstraße 49<br />57610 Altenkirchen</p>
    <p>E-Mail-Adresse: info&#64;tobias-wall.de</p>
    <p>Telefon: 01787825994</p>

    <h2 id="mOverview">{{ "processing" | translate }}</h2>
    <p>{{ "processingText" | translate }}</p>
    <h3>{{ "processingText2" | translate }}</h3>
    <ul>
      <li>{{ "processingLi1" | translate }}</li>
      <li>{{ "processingLi2" | translate }}</li>
      <li>{{ "processingLi3" | translate }}</li>
      <li>{{ "processingLi4" | translate }}</li>
      <li>{{ "processingLi5" | translate }}</li>
      <li>{{ "processingLi6" | translate }}</li>
    </ul>
    <h3>{{ "processingText3" | translate }}</h3>
    <ul>
      <li>{{ "processingLi7" | translate }}</li>
      <li>{{ "processingLi8" | translate }}</li>
    </ul>
    <h3>{{ "processingText4" | translate }}</h3>
    <ul>
      <li>{{ "processingLi9" | translate }}</li>
      <li>{{ "processingLi10" | translate }}</li>
      <li>{{ "processingLi11" | translate }}</li>
      <li>Feedback.</li>
      <li>{{ "processingLi12" | translate }}</li>
      <li>{{ "processingLi13" | translate }}</li>
    </ul>
    <h2 id="m2427">{{ "legalBases" | translate }}</h2>
    <p>{{ "processingText5" | translate }}</p>
    <ul>
      <li [innerHTML]="'CONSENT' | translate"></li>
      <li [innerHTML]="'CONTRACT' | translate"></li>
      <li [innerHTML]="'LEGITIMATE_INTERESTS' | translate"></li>
    </ul>
    <div [innerHTML]="'NATIONAL_DATA_PROTECTION_LAW' | translate"></div>
    <div [innerHTML]="'DSGVO_AND_SWISS_DSG' | translate"></div>

    <h2 id="m12">{{ "dataStorageH2" | translate }}</h2>
    <div [innerHTML]="'DATA_DELETION_POLICY' | translate"></div>
    <ul [innerHTML]="'DATA_RETENTION' | translate"></ul>
    <h2 id="m10">{{ "dataRights" | translate }}</h2>
    <div [innerHTML]="'DSGVO_RIGHTS' | translate"></div>

    <h2 id="m225">{{ "webhosting" | translate }}</h2>
    <div [innerHTML]="'DATA_PROCESSING' | translate"></div>
    <h2 id="m134">{{ "cookiesUse" | translate }}</h2>
    <div [innerHTML]="'COOKIES_INFO' | translate"></div>
    <h2 id="m182">{{ "contactManagement" | translate }}</h2>
    <div [innerHTML]="'CONTACT_INFO' | translate"></div>
    <p class="seal">
      <a
        href="https://datenschutz-generator.de/"
        title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
        target="_blank"
        rel="noopener noreferrer nofollow"
        >{{ "DatenschutzLink" | translate }}</a
      >
    </p>

    <p>
      {{ "ImgOf" | translate }}
      <a
        href="https://pixabay.com/de/users/nick_h-1821910/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1999636"
        >Nick</a
      >
      {{ "auf" | translate }}
      <a
        href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1999636"
        >Pixabay</a
      >
    </p>
  </div>
</section>
