<section id="contact">
  <div class="max-width">
    <div class="left-part">
      <div class="headline-container">
        <div class="line"></div>
        <h1>Contact</h1>
      </div>
      <h2>Got a problem to solve?</h2>
      <span
        >Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </span>
      <span>Need a Frontend developer? <b>Contact me!</b></span>
    </div>

    <div class="right-part">
      <app-contactform></app-contactform>
    </div>
  </div>
</section>
