section {
    width: 100%;
    min-height: calc(100vh - 90px);
    background-color: rgb(20, 29, 47);
    display: flex;
}

.left-part {
    width: 50%;
    display: flex;
    flex-direction: column;

    > .headline-container {
        display: flex;
        align-items: center;

        > .line {
            width: 48px;
            height: 3px;
            background-color: #4b47ff;
            margin-right: 48px;
        }

        > h1 {
            color: white;
            font-size: 80px;
        }
    }

    > h2 {
        color: white;
        font-size: 32px;
        margin: 0 96px 0 96px;
    }

    > span {
        color: white;
        margin: 24px 96px 0 96px;
    }
}

.right-part {
    padding-top: 260px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1000px) {

    h1 {
        font-size: 64px !important;
    }

    h2 {
        font-size: 24px !important;
    }
}

@media(max-width: 800px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    .left-part {
        width: 100%;
    }

    .right-part {
        padding-top: 24px;
        padding-bottom: 48px;
        width: 100%;
    }
}