<section id="contact">
  <div class="max-width">
    <div
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      class="left-part"
    >
      <div class="headline-container">
        <div class="line"></div>
        <h1>{{ "CONTACT-h1" | translate }}</h1>
      </div>
      <h2>{{ "CONTACT-h2" | translate }}</h2>
      <span>{{ "CONTACT-TEXT1" | translate }}</span>
      <span
        >{{ "CONTACT-TEXT2" | translate }}
        <b>{{ "CONTACT-TEXT3" | translate }}</b></span
      >
    </div>

    <div
      data-aos="fade-left"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      class="right-part"
    >
      <app-contactform></app-contactform>
    </div>
    <a class="goUpBtn" href="#landingpage"
      ><img src="./assets/img/go-up-btn.png" alt=""
    /></a>
  </div>
  <img class="shadow" src="./assets/img/purple-shadow.png" alt="" />
</section>
