<section id="skills">
  <div class="max-width">
    <div class="left-side" #leftSide>
      <img src="./assets/img/skills1.png" alt="Skill 1" />
      <img src="./assets/img/skills2.png" alt="Skill 2" />
      <img src="./assets/img/skills3.png" alt="Skill 3" />
      <img src="./assets/img/skills4.png" alt="Skill 4" />
      <img src="./assets/img/skills5.png" alt="Skill 5" />
      <img src="./assets/img/skills6.png" alt="Skill 6" />
      <img src="./assets/img/skills7.png" alt="Skill 7" />
      <img src="./assets/img/skills8.png" alt="Skill 8" />
      <img src="./assets/img/skills9.png" alt="Skill 9" />
      <img src="./assets/img/skills10.png" alt="Skill 10" />
    </div>
    <div class="right-side" #rightSide>
      <div class="headline-container">
        <h1>{{ 'SKILLS-h1' | translate }}</h1>
        <div class="line"></div>
      </div>
      <p>{{ 'SKILLS-p' | translate }}</p>
      <a href="#contact"><button>{{ 'SKILLS-BTN' | translate }}</button></a>
    </div>
  </div>
</section>
