<section id="skills">
    <div class="left-side">
        <img src="./assets/img/skills1.png" alt="">
        <img src="./assets/img/skills2.png" alt="">
        <img src="./assets/img/skills3.png" alt="">
        <img src="./assets/img/skills4.png" alt="">
        <img src="./assets/img/skills5.png" alt="">
        <img src="./assets/img/skills6.png" alt="">
        <img src="./assets/img/skills7.png" alt="">
        <img src="./assets/img/skills8.png" alt="">
        <img src="./assets/img/skills9.png" alt="">
        <img src="./assets/img/skills10.png" alt="">
    </div>
    <div class="right-side">
        <div class="headline-container">
            <h1>My skills</h1>
            <div class="line"></div>
        </div>
        <p>I have grown my frontend developments skills that have allowed me to create diffrent real projects.</p>
        <button>Get in touch</button>
    </div>
</section>