<footer>
  <div class="max-width">
    <div class="left-part">
      <a href="#landingpage"><img src="./assets/img/logo.png" alt="" /></a>
    </div>
    <div class="middle-part">
      <a [routerLink]="'/datenschutz'">{{ "datenschutz" | translate }}</a>
      <a [routerLink]="'/impressum'">{{ "imprint" | translate }}</a>
    </div>
    <div class="right-part">
      <a href="https://github.com/tobiwall" target="_blank"
        ><img src="./assets/img/github-icon.png" alt=""
      /></a>
      <a href="#contact"
        ><img src="./assets/img/email-icon.png" alt="Email Icon"
      /></a>
      <a
        href="https://www.linkedin.com/in/tobias-wall-319a59314/"
        target="_blank"
        ><img src="./assets/img/linkedIn-icon.png" alt=""
      /></a>
    </div>
  </div>
</footer>
