.shadow-div {
    position: absolute;
    width: 800px;
    height: 740px;
    right: 0;
    top: 80vh;
    z-index: 120;
    overflow-x: hidden;
}

.shadow-skills {
    position: absolute;
    width: 800px;
    height: 1200px;
    left: 0;
    top: 180vh;
    z-index: 120;
    overflow-x: hidden;
}

.shadow-green {
    position: absolute;
    width: 800px;
    height: 740px;
    right: 0;
    top: 450vh;
    z-index: 120;
    overflow-x: hidden;
    opacity: 0.7;
}

.relative {
    width: 100%;
    height: 100%;
    position: relative;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
}

.img-skills {
    position: absolute;
    width: 100%;
    max-height: fit-content;
    right: 0;
    transform: rotate(40deg);
}

@media (max-width: 2400px) {
    .shadow {
        width: 80%;
        right: -80px;
    }

    .img-skills {
        width: 80%;
        left: -220px;
    }
}

@media (max-width: 1000px) {
    .shadow-green {
        top: 500vh;
    }
}

@media (max-width: 800px) {
    .shadow {
        width: 70%;
        right: -180px;
    }

    .shadow-div {
        max-width: 100%;
    }
    .shadow-skills {
        max-width: 100%;
    }
    .shadow-green {
        top: 550vh;
    }
}

@media (max-width: 600px) {
    .shadow-green {
        top: 500vh;
        width: 500px;
    }
}

@media (max-width: 500px) {
    .img-skills {
        width: 80%;
        left: -120px;
    }
}

@media (min-height: 1000px) {
    .shadow-green {
        top: 400vh;
    }
}

@media (min-height: 1200px) {
    .shadow-green {
        top: 340vh;
    }
}

@media (min-height: 1500px) {
    .shadow-green {
        top: 290vh;
    }
}