.impressum {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 496px);
    background-color: rgb(20, 29, 47);
    color: white;
    padding: 24px;
    margin: 112px 0 112px 0;
    > a {
        color: white;
    }
}

.max-width {
    max-width: 1920px;
}