<div class="impressum">
  <div class="max-width">
    <h1>{{ "imprint" | translate }}</h1>
    <p>{{ "angaben-paragraph" | translate }} § 5 TMG</p>
    <p>
      Tobias Wall <br />
      Wiedstraße 49<br />
      57610 Altenkirchen <br />
    </p>
    <p>
      <strong>{{ "represented" | translate }}: </strong><br />
      Tobias Wall<br />
    </p>
    <p>
      <strong>{{ "imprint-kontact" | translate }}:</strong> <br />
      Telefon: 0178-7825994<br />
      E-Mail: <a href="mailto:info@tobias-wall.de">info&#64;tobias-wall.de</a
      ><br />
    </p>
    <p>
      <strong>{{ "Disclaimer" | translate }} : </strong><br /><br /><strong>{{
        "Liability" | translate
      }}</strong
      ><br /><br />
      {{ "imprint-p1" | translate }}<br /><br /><strong>{{
        "copyright" | translate
      }}</strong
      ><br /><br />
      {{ "imprint-p2" | translate }}<br /><br /><strong>{{
        "datenschutz" | translate
      }}</strong
      ><br /><br />
      {{ "imprint-p3" | translate }}<br />
    </p>
    <br />
    {{ "imprintFrom" | translate }}
    <a href="https://www.impressum-generator.de">Impressum Generator</a> {{ "of" | translate }}
    <a
      href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/"
      rel="nofollow"
      >Kanzlei Hasselbach, Frankfurt</a
    >
  </div>
</div>
