<section id="landingpage" class="landing-page">
  <div class="max-width">
    <div class="profil-img-container">
      <img class="profil-img" src="./assets/img/profil.png" alt="" />
      <img class="right-shadow" src="./assets/img/green-shadow.png" alt="" />
      <img class="left-shadow" src="./assets/img/purple-shadow.png" alt="" />
    </div>

    <div class="headline-button-container">
      <div class="headline-container">
        <div class="verticalHeadline">
          <h2>I am</h2>
        </div>
        <div class="horizontalHeadline">
          <h1>Tobias Wall</h1>
          <h2>FRONTEND DEVELOPER</h2>
        </div>
      </div>
      <a class="letsTalk" href="#contact"><button>Let´s talk!</button></a>
    </div>

    <div class="link-container">
      <div class="blue-line"></div>
      <a href="https://github.com/tobiwall" target="_blank"
        ><img src="./assets/img/github-icon.png" alt=""
      /></a>
      <a href="#contact"
        ><img src="./assets/img/email-icon.png" alt="Email Icon"
      /></a>
      <a
        href="https://www.linkedin.com/in/tobias-wall-319a59314/"
        target="_blank"
        ><img src="./assets/img/linkedIn-icon.png" alt=""
      /></a>
      <a class="email" href="mailto:info@tobias-wall.de">{{ email }}</a>
    </div>

    <div class="scroll-down">
      Scroll down <img src="./assets/img/arror.png" alt="" />
    </div>
  </div>
  <img
      class="landingpage-bottom"
      src="./assets/img/landingpage-bottom.png"
      alt=""
    />
</section>
