.landing-page {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(20, 29, 47);
    display: flex;
    justify-content: center;
}

.max-width {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: space-around;
}

.max-width {
    max-width: 1920px;
}

.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.profil-img-container {
    width: 40%;
    height: 100vh;
    display: flex;
    position: relative;
    > img {
        position: absolute;
        object-position: top;
    }

    > .right-shadow {
        width: 480px;
        bottom: 120px;
        left: 124px;
        z-index: 9;
    }

    > .left-shadow {
        width: 400px;
        bottom: 80px;
        left: -80px;
        z-index: 9;
    }

    > .profil-img {
        bottom: 80px;
        left: 16px;
        width: 500px;
        height: 700px;
        object-fit: cover;
        object-position: top;
        z-index: 10;
    }
}

.headline-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    > .letsTalk {
        z-index: 40;
        margin-top: 24px;

        > button {
            width: 180px;
            height: 48px;
            border-radius: 8px;
            border: none;
            color: white;
            font-size: 24px;
            background-color: rgb(4, 190, 232);
            transition: transform 0.5s ease;
        }

        > button:hover {
            cursor: pointer;
            background-color: #4b47ff;
            transform: scale(1.3);
        }
    }
}

.headline-container {
    height: 200px;
    width: fit-content;
    display: flex;
    z-index: 5;
}

.verticalHeadline {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    transform-origin: center center;
    color: white !important;
    margin: 0;
    > h2 {
        font-size: 58px;
        margin: 0;
        font-weight: 300;
    }
}

.horizontalHeadline {
    > h1 {
        color: white;
        font-size: 90px;
        margin: 0;
    }

    > h2 {
        font-size: 54px;
        font-weight: 400;
        color: #4b47ff;
        margin: 0;
        margin-top: -32px;
    }
}

.link-container {
    z-index: 20;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 48px;

    > a {
        margin: 16px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        transition: transform 0.3s ease;

        > img {
            width: 24px;
        }
    }

    > a:hover {
        transform: scale(1.3);
        color: #4b47ff;
    }
}

.blue-line {
    width: 100px;
    height: 2px;
    background-color: rgb(75, 71, 255);
    margin-right: 16px;
}

.scroll-down {
    z-index: 14;
    color: white;
    font-weight: 300;
    position: absolute;
    right: 48px;
    bottom: 112px;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    gap: 8px;
    > img {
        transform: rotate(-90deg);
    }
}

.landingpage-bottom {
    width: 100%;
    height: 650px;
    z-index: 11;
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: transparent;
}

@media (max-width: 1300px) {
    .profil-img-container {
        > .profil-img {
            width: 380px;
            margin-left: 48px;
        }
    }

    .headline-container {
        height: fit-content;

        > .verticalHeadline {
            > h2 {
                font-size: 32px !important;
            }
        }
    }

    .horizontalHeadline {
        > h1 {
            font-size: 64px !important;
        }

        > h2 {
            font-size: 40px !important;
            margin-top: 0;
        }
    }
}

@media (max-width: 1000px) {
    .headline-container {
        > .verticalHeadline {
            > h2 {
                font-size: 24px !important;
            }
        }
    }
    .horizontalHeadline {
        > h1 {
            font-size: 40px !important;
        }

        > h2 {
            font-size: 32px !important;
        }
    }

    .letsTalk {
        margin-top: 8px !important;

        > button {
            width: 100px !important;
            height: 32px !important;
            font-size: 16px !important;
        }
    }
}

@media (max-width: 800px) {
    section {
        overflow: hidden;
        position: relative;
    }
    
    .max-width {
        flex-direction: column;
        justify-content: flex-start;

        > .headline-button-container {
            justify-content: center;
        }
    }

    .profil-img-container {
        height: 800px;
        max-height: 70vh;
        width: 100%;
        > .profil-img {
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            bottom: 0;
            width: 60%;
            height: 80%;
        }

        > .right-shadow {
            left: 40%;
            width: 60%;
            bottom: -200px;
        }

        > .left-shadow {
            left: 3%;
            width: 60%;
            bottom: -300px;
        }
    }

    .landingpage-bottom {
        height: 900px;
        width: 1200px;
    }

    .scroll-down {
        display: none;
    }

    .blue-line {
        width: 20%;
    }

    .link-container {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .right-shadow {
        bottom: -100px !important;
    }

    .left-shadow {
        bottom: -200px !important;
    }
}

@media (max-width: 600px) {
    .right-shadow {
        bottom: 0px !important;
    }

    .left-shadow {
        bottom: -100px !important;
    }
}

@media (max-width: 500px) {
    .horizontalHeadline {
        > h2 {
            font-size: 24px !important;
        }
    }
    .profil-img {
        width: 100% !important;
    }

    .email {
        display: none !important;
    }
}

@media (max-width: 450px) {
    .right-shadow {
        bottom: 50px !important;
    }

    .left-shadow {
        bottom: 0px !important;
    }
}

@media (max-width: 400px) {
    .right-shadow {
        bottom: 80px !important;
    }

    .left-shadow {
        left: 0;
        bottom: 40px !important;
    }
}

@media (max-height: 800px) {
    .profil-img-container {
        height: 500px;
        max-height: 60vh;

        > .profil-img {
            width: 40%;
        }
    }
}

@media (max-height: 650px) {
    .landingpage-bottom {
        height: 800px;
    }

    .max-width {
        min-height: 100vh;
    }
}